html,
body {
  height: 100%;
  font-family: 'NotoSansLao', sans-serif;
  src: url('../fonts/NotoSansLao-VariableFont_wdth,wght.ttf') format('truetype');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  font-family: 'Noto Sans Lao', sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@font-face {
  font-family: 'NotoSansLao';
  src: url('../fonts/NotoSansLao-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
.field-icon {
  float: right;
  margin-left: -30px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}

.input-group-custom {
  margin-bottom: 20px;
  position: relative;
}

.input-group-custom label {
  position: absolute;
  top: -10px; 
  left: 5%;
  background-color: rgb(255, 255, 255); 
  font-size: 0.8rem; 
  color: #3a3a3a; 
}

.input-group-custom input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ced4da; 
}

/* .card:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;

} */
.card-item  { 
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(2, 1, 1, 0.1);
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 10px;
  border-radius: 8px;
  color: white;
}
.form-control {
  margin-bottom: 5px;
  padding: 5px;
}
.date-range {
  display: none;
}
.btn-no-style {
  background: none; 
  border: none; 
  padding: 0; 
  color: #242323; 
  cursor: pointer; 
}
.btn-no-style:hover {
  color: #3302f8; 
}
