{% extends "base.html" %}
{% load static %}

<title>Lcic-HR</title>

{% block content %} 
<div class="container-fluid">
    <div class="row mx-3">
        <div class="col-md-4">
            <fieldset class="border border-primary p-2 px-4 pb-4" style="border-radius: 15px; background-color: #E7E9EB">
                <legend class="float-none w-auto p-2 h5">ຈັດການຂໍ້ມູນພະແນກ</legend>
                <form id="departmentForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        
                        <input type="text" class="form-control" id="id" placeholder="ລະຫັດພະແນກ" name="id" readonly>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="name" placeholder="ປ້ອນຊື່ພະແນກ" name="name" required>
                    </div>
                    <div class="row mt-4" style="justify-content: center;">
                        <button type="submit" name="btnEdit" class="btn btn-info" style="width: 110px; border-radius: 20px; display: none;">
                            <i class="fas fa-edit"></i>&nbsp;&nbsp;ແກ້ໄຂ
                        </button>
                        <button type="submit" name="btnAdd" class="btn btn-primary mx-2" style="width: 110px; border-radius: 20px;">
                            <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;ເພີ່ມ
                        </button>
                        <button type="reset" id="btnCancel" class="btn btn-warning mx-2" style="width: 110px; border-radius: 20px;">
                            <i class="fas fa-sync"></i>&nbsp;&nbsp;ຍົກເລີກ
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-md-8 mt-4">
            <fieldset class="border border-primary p-2 px-4 pb-4" style="border-radius: 15px;">
                <div class="table-responsive">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead class="bg-secondary text-white">
                            <tr>
                                <th class="text-center">ລໍາດັບ</th>
                                <th>ຊື່ພະແນກ</th>
                                <!-- <th>ມື້ສ້າງ</th>
                                <th>ມື້ແກ້ໄຂ</th> -->
                                <th class="text-center">ຈັດການ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for department in department %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ department.name}}</td>
                                <!-- <td>{{department}}</td>
                                <td></td> -->
                                <td class="text-center">
                                    <a href="#" onclick="editDepartment('{{ department.id }}')" data-bs-toggle="tooltip" title="ແກ້ໄຂຂໍ້ມູນ">
                                        <i class="fas fa-edit text-success"></i>
                                    </a>
                                    <a href="#" onclick="deleteDepartment('{{ department.id }}')" data-bs-toggle="tooltip" title="ລືບຂໍ້ມູນ">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/localStorage.js' %}"></script>
<script>
// const DATABASE_URL = "{{ database_url | escapejs }}";
const departmentForm = document.getElementById('departmentForm');
const btnAdd = document.querySelector('[name="btnAdd"]');
const btnEdit = document.querySelector('[name="btnEdit"]');


// Handle Form Submission
departmentForm.addEventListener('submit', async (event) => {
    event.preventDefault();

    const departmentId = document.getElementById('id').value;
    const departmentName = document.getElementById('name').value;
    const isEdit = Boolean(departmentId);

    const apiUrl = isEdit
        ? `${DATABASE_URL}/api/update/departments/${departmentId}/`
        : `${DATABASE_URL}/api/add/departments/`;
    const method = isEdit ? 'PUT' : 'POST';

    try {
        const response = await fetch(apiUrl, {
            method: method,
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({ id: departmentId, name: departmentName }),
        });

        if (!response.ok) throw new Error('Error: ' + response.statusText);

        const successMessage = isEdit
            ? 'ຂໍ້ມູນຖືກແກ້ໄຂແລ້ວ'
            : 'ຂໍ້ມູນຖືກເພີ່ມແລ້ວ';
                    Swal.fire({
                        title: 'ສຳເລັດ!',
                        text: successMessage,
                        icon: 'success',
                        customClass: {
                            title: 'lao-font',
                            htmlContainer: 'lao-font',
                            confirmButton: 'lao-font'
                }
        }).then(() => {
            window.location.reload();
        });
    } catch (error) {
        Swal.fire('ມີຂໍ້ຜິດພາດ', error.message, 'error'); 
    }
});

// Edit Department
async function editDepartment(depId) {
    try {
        const response = await fetch(`${DATABASE_URL}/api/list/departments/${depId}/`);
        if (!response.ok) throw new Error(`Error fetching data: ${response.statusText}`);
        const department = await response.json();

        document.getElementById('id').value = department.id;
        document.getElementById('name').value = department.name;
        btnAdd.style.display = 'none';
        btnEdit.style.display = 'inline-block';
    } catch (error) {
        Swal.fire('Error!', error.message, 'error');
    }
}
// Delete Department
function deleteDepartment(depId) {
    const apiUrl = `${DATABASE_URL}/api/delete/departments/${depId}/`;

    Swal.fire({
        title: 'ທ່ານແນ່ໃຈບໍ?',
        text: 'ຂໍ້ມູນຈະຖືກລືບອອກ!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ຢືນຢັນ',
        customClass:{
            title: "lao-font",
            htmlContainer: "lao-font",
            confirmButton: "lao-font"
        }
    }).then((result) => {
        if (result.isConfirmed) {
            fetch(apiUrl, { method: 'DELETE' })
                .then((response) => {
                    if (!response.ok) throw new Error('Error deleting department');
                    return response.json();
                })
                .then(() => Swal.fire({
                    title: 'ລືບສຳເລັດ!',
                    icon: 'success',
                    customClass: {
                        title: 'lao-font',
                        htmlContainer: 'lao-font',
                        confirmButton: 'lao-font'
                    }
                }).then(() => window.location.reload()))
                .catch((error) => Swal.fire('Error!', error.message, 'error'));
        }
    });
}
// Reset Form
document.getElementById('btnCancel').addEventListener('click', () => {
    btnAdd.style.display = 'inline-block';
    btnEdit.style.display = 'none';
    departmentForm.reset();
});
</script>
{% endblock %}
