{% extends "base.html" %} {% load static %} 
<title>Lcic-HR</title>

{% block content %}
<di class="container-fluid">
    <div class="row mx-3">
        <div class="col-md-4">
            <fieldset class="border border-primary p-2 px-4 pb-4" style="border-radius: 15px; background-color: #E7E9EB">
                <legend class="float-none w-auto p-2 h5">ຈັດການຂໍ້ມູນພະແນກ</legend>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="dno" class="form-label">ລະຫັດພະແນກ:</label>
                        <input type="text" class="form-control" id="department.id" placeholder="ປ້ອນລະຫັດພະແນກ" name="department.id" value="" required maxlength="3">
                        <div class="form-control-feedback">
                            <div class="text-danger align-middle">
                                {% if errors.department.id %}
                                    {{ errors.department.id.0 }}
                                {% endif %}                
                            </div>
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <label for="name" class="form-label">ຊື່ພະແນກ:</label>
                        <input type="text" class="form-control" id="department_name" placeholder="ປ້ອນຊື່ພະແນກ" name="department_name" value="" required>
                    </div>                
                    <button type="submit" name="btnEdit" class="btn btn-info" style="width: 110px; border-radius: 20px"><i class="fas fa-edit"></i>&nbsp;&nbsp;ແກ້ໄຂ</button>  
                    
                    <button type="submit" name="btnAdd" class="btn btn-primary" style="width: 110px; border-radius: 20px"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;ເພີ້ມ</button> 
                    
                    <a href="department.php" class="btn btn-warning" style="width: 110px; border-radius: 20px"><i class="fas fa-sync"></i>&nbsp;&nbsp;ຍົກເລີກ</a>
        
                </form>
            </fieldset>
        </div>
        <div class="col-md-8 mt-4">
            <fieldset class="border border-primary p-2 px-4 pb-4" style="border-radius: 15px;">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead class="bg-secondary text-center text-white">
                        <tr>
                            <th>ລໍາດັບ</th>
                            <th>ລະຫັດພະແນກ</th>
                            <th>ຊື່ພະແນກ</th>                        
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td></td>
                                <td class="text-center">
                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="ແກ້ໄຂຂໍ້ມູນ"><i class="fas fa-edit text-success"></i></a>
                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ລືບຂໍ້ມູນ"><i class="fas fa-trash-alt text-danger"></i></a>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}