{% extends "base.html" %} {% load static %} 
<title>Lcic-HR</title>

{% block content %}
<div class="container-fluid">
    <h2 class="mb-4">ບັນທືກຂໍ້ມູນພະນັກງານ</h2>
    <form id="employeeForm">
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input 
                        type="text"class="form-control"id="fname"name="firstname"placeholder="Your name"readonly>
                    <label for="fname">ລະຫັດໃສ່ອັດຕະໂນມັດ....</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-control" id="gender" name="gender">
                        <option value="#">ເລືອກເພດ</option>
                        <option value="ຊ">ຊາຍ</option>
                        <option value="ຍ">ຍີງ</option>
                    </select>
                    <label for="fname">ເພດ:</label>
                </div> 
            </div>                               
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name_E" name="name_E" placeholder=""value="">
                    <label for="fname">ປ້ອນຊື່ພາສາອັງກິດ...</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name_L" name="name_L" placeholder="" value="">
                    <label for="fname">ປ້ອນຊື່ພາສາລາວ....</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="" value="">
                    <label for="fname">ປ້ອນຊື່ຫຼີ້ນ....</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="position" name="position" placeholder="" value="">
                    <label for="fname">ປ້ອນຕຳແໜ່ງ....</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="" value="">
                    <label for="youth_reserve" >ວັນ.ເດືອນ.ປີເກີດ....</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="employment_date" name="employment_date" placeholder="" value="">
                    <label for="youth_reserve" >ວັນ.ເດືອນ.ປີເຂົ້າວຽກ....</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="percent_95" name="percent_95"placeholder=""  value="">
                    <label for="youth_reserve" >ວັນເຂົ້າພະນັກງານ 95%....</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="youth_reserve" name="youth_reserve" placeholder="" value="">
                    <label for="youth_reserve" >ວັນເຂົ້າພັກສຳຮອງ....</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="youth_full" name="youth_full" placeholder="" value="">
                    <label for="fname">ວັນເຂົ້າພັກສົມບູນ....</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="labor_union" name="labor_union" placeholder="" value="">
                    <label for="fname">ວັນເຂົ້າກຳມະບານ....</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="" value="">
                    <label for="fname">ປ້ອນເບີໂທ....</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="home_address" name="home_address" placeholder="" value="">
                    <label for="fname">ປ້ອນບ້ານເກີດ.ເມືອງ.ແຂວງ....</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="current_address" name="current_address" placeholder="" value="">
                    <label for="fname">ປ້ອນທີ່ຢູ່ປະຈຸບັນ ບ້ານ.ເມືອງ.ແຂວງ....</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="education_level" name="education_level" placeholder="" value="">
                    <label for="fname">ປ້ອນລະດັບການສືກສາ....</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="field_of_study" name="field_of_study" placeholder="" value="">
                    <label for="fname">ປ້ອນວິຊາສະເພາະ....</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="status" name="status" placeholder="" value="">
                    <label for="fname">ປ້ອນສະຖານະພາບ....</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="salary_grade" name="salary_grade" placeholder="" value="">
                    <label for="fname">ປ້ອນຂັ້ນເງິນເດືອນ....</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="employment_years" name="employment_years" placeholder="" value="">
                    <label for="fname">ປ້ອນປີການ....</label>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <button type="submit" class="btn btn-primary mb-3 w-50">Submit</button>
            <button type="reset" class="btn btn-danger mb-3 w-50" >Reset</button>
        </div>
    </form>
</div>          
{% endblock %}