{% extends "base.html" %} {% load static %} 
<title>Lcic-HR</title>

{% block content %}
<div class="container-fluid">
    <h2 class="mb-4">ບັນທືກຂໍ້ມູນພະນັກງານ</h2>
    <form>
        <div class="row mb-1">
            <div class="col-md-5 d-flex gap-2 w-50">
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="home_address" name="home_address" placeholder="" value="">
                    <label for="fname">ບ້ານເກີດ</label>
                </div>
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="home_address" name="home_address" placeholder="" value="">
                    <label for="fname">ເມືອງ</label>
                </div><div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="home_address" name="home_address" placeholder="" value="">
                    <label for="fname">ແຂວງ</label>
                </div>
            </div>                                           
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="" value="">
                    <label for="fname">ປ້ອນຊື່ຫຼີ້ນ</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <select class="form-select" id="position" name="position" required>
                        <option value="" disabled selected>ຕຳແໜ່ງ</option>
                        <option value="Finance">Finance</option>
                        <option value="HR">HR</option>
                        <option value="Operations">Operations</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="" value="">
                    <label for="youth_reserve" >ວັນ.ເດືອນ.ປີເກີດ</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="date" class="form-control" id="employment_date" name="employment_date" placeholder="" value="">
                    <label for="youth_reserve" >ວັນ.ເດືອນ.ປີເຂົ້າວຽກ</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="date" class="form-control" id="percent_95" name="percent_95"placeholder=""  value="">
                    <label for="youth_reserve" >ວັນເຂົ້າພະນັກງານ 95%</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="date" class="form-control" id="youth_reserve" name="youth_reserve" placeholder="" value="">
                    <label for="youth_reserve" >ວັນເຂົ້າພັກສຳຮອງ</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="date" class="form-control" id="youth_full" name="youth_full" placeholder="" value="">
                    <label for="fname">ວັນເຂົ້າພັກສົມບູນ</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="date" class="form-control" id="labor_union" name="labor_union" placeholder="" value="">
                    <label for="fname">ວັນເຂົ້າກຳມະບານ</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="" value="">
                    <label for="fname">ປ້ອນເບີໂທ</label>
                </div>
            </div>
            <div class="col-md-5 d-flex gap-2 w-50">
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="home_address" name="home_address" placeholder="" value="">
                    <label for="fname">ບ້ານເກີດ</label>
                </div>
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="home_address" name="home_address" placeholder="" value="">
                    <label for="fname">ເມືອງ</label>
                </div><div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="home_address" name="home_address" placeholder="" value="">
                    <label for="fname">ແຂວງ</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-5 d-flex gap-2 w-50">
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="current_address" name="current_address" placeholder="" value="">
                    <label for="fname">ບ້ານຢູ່ປະຈຸບັນ</label>
                </div>
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="home_address" name="home_address" placeholder="" value="">
                    <label for="fname">ເມືອງ</label>
                </div><div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="home_address" name="home_address" placeholder="" value="">
                    <label for="fname">ແຂວງ</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <select class="form-select" id="education_level" name="education_level" required>
                        <option value="" disabled selected>ລະດັບການສືກສາ</option>
                        <option value="">ຊັ້ນກາງ</option>
                        <option value="">ຊັ້ນສູງ</option>
                        <option value="">ປະລີນຍາຕີ</option>
                        <option value="">ປະລີນຍາໂທ</option>
                        <option value="">ປະລີນຍາເອກ</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <select class="form-select" id="field_of_study" name="field_of_study" required>
                        <option value="" disabled selected>ວິຊາສະເພາະ</option>
                        <option value="">ເຕັກໂນໂລຊີຂໍ້ມູນຂ່ານສານ</option>
                        <option value="">ການເງິນ</option>
                        <option value="">ການທະນາຄານ</option>
                        <option value="">ກວດສອບ</option>
                        <option value="">ບັນຊີ</option>
                        <option value="">ພາສາອັງກິດ</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="status" name="status" placeholder="" value="">
                    <label for="fname">ປ້ອນສະຖານະພາບ</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="text" class="form-control" id="salary_grade" name="salary_grade" placeholder="" value="">
                    <label for="fname">ປ້ອນຂັ້ນເງິນເດືອນ</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group-custom mb-3">
                    <input type="number" class="form-control" id="employment_years" name="employment_years" placeholder="" value="">
                    <label for="fname">ປ້ອນປີການ</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group-custom mb-3 text-center">
                    <img id="avatarPreview" 
                        src="{% static 'images/avatar.png' %}" 
                        alt="Avatar" 
                      style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; padding: 5px; " />
                    <input type="file" class="form-control" id="avatarInput" name="avatar" accept="image/*">
                </div>
            </div>                        
        </div>
        <div class="row p-3">
            <button type="submit" class="btn btn-primary mb-3 w-50">Submit</button>
            <button type="reset" class="btn btn-danger mb-3 w-50" >Reset</button>
        </div>
    </form>
</div>


<script>
    
    document.addEventListener('DOMContentLoaded', function () {
    
    document.getElementById('avatarInput').addEventListener('change', function (event) {
        const file = event.target.files[0]; 
        const preview = document.getElementById('avatarPreview'); 

        if (file) {
            const reader = new FileReader();

            
            reader.onload = function (e) {
                preview.src = e.target.result; 
            };

            reader.readAsDataURL(file); 
        } else {
            
            preview.src = '{% static "images/avatar.png" %}';
        }
    });
});

</script>
          
{% endblock %}