{% extends "base.html" %} {% load static %} 
<title>Lcic-HR</title>

{% block content %}
<div class="container-fluid">
    <div class="row p-4 ml-2">
        <div class="card border-primary mr-2 ml-2 mb-2" style="width: 21rem; height: 18rem;">
            <div class="card-header">ແຜນວຽກປະຈຳປີ
                <a class="d-flex justify-content-end" href="">More</a>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-6 mb-1">
                    <div class="card" style="width: 8rem; height: 6rem;">
                      <div class="card-body">
                        <p class="card-text">With</p>
                        <a class="d-flex justify-content-end " href="">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-1">
                    <div class="card" style="width: 8rem; height: 6rem;">
                      <div class="card-body">
                        <p class="card-text">With</p>
                        <a class="d-flex justify-content-end" href="">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-1">
                    <div class="card" style="width: 8rem; height: 6rem;">
                      <div class="card-body">
                        <p class="card-text">With</p>
                        <a class="d-flex justify-content-end" href="">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-1">
                    <div class="card" style="width: 8rem; height: 6rem;">
                      <div class="card-body">
                        <p class="card-text">With</p>
                        <a class="d-flex justify-content-end" href="">More</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>              
        </div>
        <div class="card border-primary mr-2 ml-2 mb-2" style="width: 21rem; height: 18rem;">
            <div class="card-header">ແຜນວຽກປະຈຳເດືອນ
                <a class="d-flex justify-content-end" href="">More</a>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-6 mb-1">
                    <div class="card" style="width: 8rem; height: 6rem;">
                      <div class="card-body">
                        <p class="card-text">With</p>
                        <a class="d-flex justify-content-end" href="">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-1">
                    <div class="card" style="width: 8rem; height: 6rem;">
                      <div class="card-body">
                        <p class="card-text">With</p>
                        <a class="d-flex justify-content-end" href="">More</a>
                      </div>
                    </div>
                  </div>  
                </div>
            </div>
        </div>
        <div class="card border-primary mr-2 ml-2 mb-2" style="width: 21rem; height: 18rem;">
            <div class="card-header">ວຽກງານ 3 ອົງການຈັດຕັ້ງ
                <a class="d-flex justify-content-end" href="">More</a>
            </div>
            <div class="container">
                <div class="row p-4">
                  <div class="col-6 mb-1">
                    <div class="card" style="width: 8rem; height: 6rem;">
                      <div class="card-body">
                        <p class="card-text">With</p>
                        <a class="d-flex justify-content-end" href="">More</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4 ml-2">
        <div class="card border-primary mr-2 ml-2 mb-2" style="width: 65rem; height: 18rem;">
            <div class="card-header">ເອກສານແຈ້ງການພາຍໃນ</div>
            <div class="container">
                <div class="row">
                  <div class="col-6 mt-4">
                    <div class="card" style="width: 61.5rem; height: 4rem;">
                      <div class="card-body">                       
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-6 mt-4">
                    <div class="card" style="width: 61.5rem; height: 4rem;">
                      <div class="card-body">
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="row p-4 ml-2">
        <div class="card border-primary mr-2 ml-2 mb-2" style="width: 65rem; height: 18rem;">
            <div class="card-header">ເອກສານແຈ້ງການພາຍນອກ</div>
            <div class="container">
                <div class="row">
                  <div class="col-6 mt-4">
                    <div class="card" style="width: 61.5rem; height: 4rem;">
                      <div class="card-body">
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-6 mt-4">
                    <div class="card" style="width: 61.5rem; height: 4rem;">
                      <div class="card-body">
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}