{% extends "base.html" %} {% load static %} 
<title>Lcic-HR</title>

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">New post</h1>
    <div class="container mt-5">
        <div class="d-flex justify-content-between">
            <div class="col-md-3">
                <div class="form-floating mb-2">
                    <select class="form-control" id="department" name="department">
                        <option value="#">All:</option>
                        <option value="#">ພະແນກໄອທີ</option>
                        <option value="#">ພະແນກບໍລິຫານ</option>
                        <option value="#">ພະແນກກວດກາ</option>
                        <option value="#">ພະແນກ</option>
                    </select>                                       
                </div>
            </div>
            <div class="card-header py-3 ">
                <a href="{% url 'form_post' %}" class="btn btn-primary ">ເພີ່ມ</a>
            </div>
        </div> 
        <hr>       
    </div>
    <div  class="d- justify-content-center">
        <div class="card mb-3" style="max-width: 540px; align-items: center;">
            <div class="row g-1 ">
                <div class="col-md-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB1YWBudfY9wmOI1qefCYwggSyU3r6j0p3_fQlUydokBYHc4lDX3E-S0T3f2HUVIAWy1E&usqp=CAU" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px; align-items: center;">
            <div class="row g-1 ">
                <div class="col-md-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB1YWBudfY9wmOI1qefCYwggSyU3r6j0p3_fQlUydokBYHc4lDX3E-S0T3f2HUVIAWy1E&usqp=CAU" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      
{% endblock %}