{% extends "base.html" %} 


{% block content %}
    <h2>User Profile</h2>
    <p><strong>Username:</strong> <span id="username"></span></p>
    <p><strong>Department:</strong> <span id="department"></span></p>
    
    
    <button onclick="logout()">Logout</button>

<script src="{% static 'js/localStorage.js' %}"></script>  
<script>


// Logout function
function logout() {
    localStorage.removeItem("user");
    localStorage.removeItem("department"); // ✅ ລົບຂໍ້ມູນພະແນກຂອງ user
    window.location.href = "/login/";
}

</script>
    {% endblock %}
