{% extends "base.html" %}
{% load static %}

<title>Lcic-HR</title>

{% block content %}
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">ຂໍ້ມູນພະນັກງານ</h1>

        <!-- Data Table -->
        <div class="card-item">
            <div class="card-header py-3 d-flex justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>
                <a href="{% url 'form_emp' %}" class="btn btn-primary">ເພີ່ມ</a>
            </div>     
                <div class="table-responsive">
                    {% if employees %}
                        <table class="table table-striped" width="100%">
                            <thead class="thead-dark">
                                <tr style="text-align: start;">
                                    <th style="min-width: auto">ລະຫັດ</th>                               
                                    <th style="min-width: 150px;">ຊື່ພາສາລາວ</th>               
                                    <th style="min-width: 150px;">ຊື່ພາສາອັງກິດ</th>
                                    <th style="min-width: 150px;">ຊື່ຫຼີ້ນ</th>
                                    <th style="min-width: 80px;">ເພດ</th>
                                    <th style="min-width: 150px;">ພະແນກ</th>
                                                               
                                    <th style="min-width: 80px;">Action</th>                               
                                </tr>
                            </thead>
                            <tbody id="employeeTableBody">
                                {% for emp in employees %}
                                <tr style="text-align: start;">
                                    <td>{{ emp.emp_id}}</td>
                                    <td>{{ emp.lao_name}}</td>
                                    <td>{{ emp.eng_name}}</td>
                                    <td>{{ emp.nickname}}</td>
                                    <td>{{ emp.Gender}}</td>
                                    <td>{{ emp.department}}</td>
                                    
                                    <td class="text-center" style="width: 80px">
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="ແກ້ໄຂຂໍ້ມູນ"><i class="fas fa-edit text-success"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="ແກ້ໄຂຂໍ້ມູນ"><i class="fas fa-edit text-success"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ລືບຂໍ້ມູນ"><i class="fas fa-trash-alt text-danger"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No employees found.</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>


{% endblock %}
